# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
.idea/
.metadata
.gradle/
.gradle
**.bin
build/

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# android stuff
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

google-services.json

**/coverage/**
doc/**
.flutter-plugins**
keys.json
lib/generated/keys.dart
*.log

.vscode/
.vscode/**

**.db
*.workspace

lib/generated_plugin_registrant.dart
test/*.db
