{% extends "base_minimal.html" %}

{% block content %}
<div class="container p-8 mx-auto max-w-lg text-center">
  <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
    <h1 class="text-2xl font-semibold">Reset Password</h1>
    <div>
      <input id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}"
        class="bg-gray-50 my-2 py-1 px-4 border border-gray-400 rounded focus:outline-none focus:border-blue-500 placeholder-gray-500"
        placeholder="Email">
    </div>
    <input type="submit" class="bg-blue-600 hover:bg-blue-500 text-white font-bold py-2 px-4 my-2 rounded shadow-md"
      value="Reset password">
  </form>
</div>
{% endblock %}
