<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617460744396-j9jt9cb0egvoq280b7m284ignjagtnr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617460744396-j9jt9cb0egvoq280b7m284ignjagtnr1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>617460744396-gia3imuvig8no5dbdf7efepdsnlkcqeq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDj-Q_n0sQu03_7lPfnGt2cqKsUxvzNWMk</string>
	<key>GCM_SENDER_ID</key>
	<string>617460744396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathanbayless.autodo</string>
	<key>PROJECT_ID</key>
	<string>autodo-49f21</string>
	<key>STORAGE_BUCKET</key>
	<string>autodo-49f21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617460744396:ios:7da25d96edce10cefc4269</string>
	<key>DATABASE_URL</key>
	<string>https://autodo-49f21.firebaseio.com</string>
</dict>
</plist>