<!DOCTYPE html>

<head>
  {% load static %}
  <link href="{% static 'site.css' %}" rel="stylesheet">
</head>
<html>
<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button type="button" id="mobile-menu-button"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. -->
          <!--
            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg id="outline-menu" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!-- Icon when menu is open. -->
          <!--
            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg id="outline-x" class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
            alt="Workflow">
          <img class="hidden lg:block h-8 w-auto"
            src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg" alt="Workflow">
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Dashboard</a>
            <a href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Team</a>
            <a href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Projects</a>
            <a href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Calendar</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button
          class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
          <span class="sr-only">View notifications</span>
          <!-- Heroicon name: outline/bell -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
        </button>

        <!-- Profile dropdown -->
        {% load gravatar %}
        <div class="ml-3 relative">
          <div>
            <button
              class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
              id="user-menu" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>
              <!-- <img class="h-8 w-8 rounded-full"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""> -->
              <img class="h-8 w-8 rounded-full" src="{{ user | gravatar }}" alt="">
            </button>
          </div>
          <!--
            Profile dropdown panel, show/hide based on dropdown state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          <div id="profile-menu"
            class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 opacity-0 transition ease-out duration-100 hidden"
            role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Your Profile</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Settings</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem">Sign out</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium">Dashboard</a>
      <a href="#"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Team</a>
      <a href="#"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>
      <a href="#"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Calendar</a>
    </div>
  </div>
</nav>

<body>
  {% block content %}{% endblock %}
</body>
<footer>
  <script>
    window.onload = function () {
      document.querySelector('#mobile-menu-button').onclick = function () {
        if (document.querySelector('#outline-menu').classList.contains('block')) {
          // open menu
          document.querySelector('#outline-menu').classList.remove('block');
          document.querySelector('#outline-menu').classList.add('hidden');

          document.querySelector('#outline-x').classList.add('block');
          document.querySelector('#outline-x').classList.remove('hidden');

          document.querySelector('#mobile-menu').classList.add('block');
          document.querySelector('#mobile-menu').classList.remove('hidden');
        } else {
          // close menu
          document.querySelector('#outline-menu').classList.add('block');
          document.querySelector('#outline-menu').classList.remove('hidden');

          document.querySelector('#outline-x').classList.remove('block');
          document.querySelector('#outline-x').classList.add('hidden');

          document.querySelector('#mobile-menu').classList.remove('block');
          document.querySelector('#mobile-menu').classList.add('hidden');
        }
      }

      // profile menu
      document.querySelector('#user-menu').onclick = function () {
        if (document.querySelector('#profile-menu').classList.contains('opacity-0')) {
          // open menu
          document.querySelector('#profile-menu').classList.remove('ease-out')
          document.querySelector('#profile-menu').classList.remove('duration-75')
          document.querySelector('#profile-menu').classList.add('ease-in')
          document.querySelector('#profile-menu').classList.add('duration-100')

          document.querySelector('#profile-menu').classList.remove('scale-95')
          document.querySelector('#profile-menu').classList.add('scale-100')

          document.querySelector('#profile-menu').classList.remove('opacity-0')
          document.querySelector('#profile-menu').classList.add('opacity-100')

          document.querySelector('#profile-menu').classList.remove('hidden')
        } else {
          // close menu
          document.querySelector('#profile-menu').classList.remove('ease-in')
          document.querySelector('#profile-menu').classList.remove('duration-100')
          document.querySelector('#profile-menu').classList.add('ease-out')
          document.querySelector('#profile-menu').classList.add('duration-75')

          document.querySelector('#profile-menu').classList.remove('scale-100')
          document.querySelector('#profile-menu').classList.add('scale-95')

          document.querySelector('#profile-menu').classList.remove('opacity-100')
          document.querySelector('#profile-menu').classList.add('opacity-0')

          document.querySelector('#profile-menu').classList.add('hidden')
        }
      }
    }
  </script>
</footer>

</html>
