{% load static %}
<link href="{% static 'site.css' %}" rel="stylesheet" />

{% block content %}

<div class="container p-8 mx-auto max-w-lg">
  <div class="text-2xl">Car: <b>{{ car.name }}</b></div>
</div>

{{ car }}

<a
  href="{% url 'cars/update' car.id %}"
  class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 my-2 rounded shadow-md"
  >Edit
</a>

<a
  href="{% url 'cars/delete' car.id %}"
  class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 my-2 rounded shadow-md"
>
  Delete
</a>

{% endblock %}
