{% extends "base_generic.html" %}
{% block content %}
<div class="container mx-auto p-4 max-w-3xl">
  {% if car_list|length < 1 %}
  <div class="min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 text-center">
    <p>No cars, would you like to add one?</p>
    <div class="my-8">
      <a href="{% url 'cars/create' %}"
        class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 my-2 rounded shadow-md">
        Create Car
      </a>
    </div>
  </div>
  {% endif %}

  {% for car in car_list %}
  <div class="bg-gray-50 rounded-lg shadow-sm hover:shadow-lg duration-100 px-2 py-4 my-4"
    onclick="location.href=`{% url 'cars/detail' car.id %}`">
    <div class="flex flex-wrap justify-between">
      <div class="flex flex-col">
        <div class="text-blue-600 text-lg font-semibold mx-2">
          {{ car.name}}
        </div>
        <div class="mx-2">
          Mileage: <span class="font-bold">{{ car.mileage }}</span> mi
        </div>
      </div>
      <div class="flex flex-col content-end">
        <div class="m-2 flex-grow-0">
          <a href="{% url 'cars/update' car.id %}"
            class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 my-2 rounded shadow-md">Edit
          </a>
        </div>
        <div class="m-2">
          <a href="{% url 'cars/delete' car.id %}"
            class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 my-2 rounded shadow-md">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="h-36 w-full" />
  {% endfor %}
</div>
<button
  class="fixed right-0 bottom-0 m-12 p-0 w-16 h-16 bg-autodo rounded-full hover:bg-autodo-dark shadow-xl mouse transition ease-in duration-200 focus:outline-none"
  onclick="location.href=`{% url 'cars/create' %}`">
  <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-6 h-6 inline-block">
    <path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
                                      C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
                                      C15.952,9,16,9.447,16,10z" />
  </svg>
</button>
{% endblock %}
