{% extends "base_generic.html" %}

{% block content %}
<div class="w-full h-dashboard overflow-auto dark:bg-background_dark">
  <div class="container mx-auto p-4 max-w-3xl">
    {% if object_list|length < 1 %} <div class="min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 text-center">
      <p>No refuelings, would you like to add one?</p>
      <div class="my-8">
        <a href="{% url 'refuelings/create' %}"
          class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 my-2 rounded shadow-md">
          Create Refueling
        </a>
      </div>
    </div>
    {% endif %}

    {% for refueling in object_list %}
    <div class="bg-gray-50 dark:bg-background_med rounded-lg shadow-sm duration-100 px-2 py-4 my-4 dark:text-gray-200">
      <div class="flex flex-wrap justify-between">
        <div class="flex flex-col">
          <a href="{% url 'refuelings/detail' refueling.id %}" class="text-blue-600 text-lg font-semibold mx-2">
            Refueling on {{ refueling.odomSnapshot.date|date:"D d M Y" }}
          </a>
          <div class="mx-2 text-lg">
            At <span class="font-bold">{{ refueling.odomSnapshot.mileage }}</span> miles
          </div>
          <div class="mx-2">
            Cost: <span class="font-bold">{{ refueling.cost }}</span>
          </div>
          <div class="mx-2">
            Amount: <span class="font-bold">{{ refueling.amount }}</span> gallons
          </div>
          <a style="background-color: {{ refueling.odomSnapshot.car.color }};"
            href="{% url 'cars/detail' refueling.odomSnapshot.car.id %}"
            class="my-1 mx-2 rounded-lg w-min px-2 {% if todo.car.light_color %}text-black{% else %}text-white{% endif %} hover:shadow-md">
            {{ refueling.odomSnapshot.car.name }}
          </a>
        </div>
        <div class="flex flex-col self-center">
          <div class="m-2">
            <a href="{% url 'refuelings/update' refueling.id %}"
              class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 my-2 rounded shadow-md">Edit
            </a>
          </div>
          <div class="m-2">
            <a href="{% url 'refuelings/delete' refueling.odomSnapshot.id %}"
              class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 my-2 rounded shadow-md">
              Delete
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="h-36 w-full" />
    {% endfor %}
  </div>
  <button
    class="fixed right-0 bottom-0 m-12 p-0 w-16 h-16 bg-autodo rounded-full hover:bg-autodo-dark shadow-xl mouse transition ease-in duration-200 focus:outline-none"
    onclick="location.href=`{% url 'refuelings/create' %}`">
    <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-6 h-6 inline-block">
      <path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
                                      C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
                                      C15.952,9,16,9.447,16,10z" />
    </svg>
  </button>
</div>
{% endblock %}
