{% extends "base_generic.html" %}

{% block title %}
Stats - {{ block.super }}
{% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
  integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
  crossorigin="anonymous"></script>

<div class="container p-4 w-full mx-auto md:grid grid-cols-12 grid-rows-12 gap-4">
  <div class="col-span-6 row-span-6 grid justify-items-center items-center bg-gray-100 rounded-lg shadow-sm p-4">
    Fuel Efficiency
    <canvas id="fuelEfficiency"></canvas>
  </div>
  <div class="col-span-3 row-span-2 grid justify-items-center items-center bg-gray-100 rounded-lg shadow-sm p-4">
    <div>
      Total ToDos Completed:
      <span class="font-bold text-autodo text-3xl pl-2">0</span>
    </div>
  </div>
  <div class="col-span-3 row-span-2 grid justify-items-center items-center bg-gray-100 rounded-lg shadow-sm p-4">
    <div>
      Total Refuelings Logged: <span class="font-bold text-autodo text-3xl pl-2">0</span>
    </div>
  </div>
  <div
    class="col-span-6 row-span-4 grid grid-cols-3 justify-items-center items-center bg-gray-100 rounded-lg shadow-sm p-4">
    <div class="col-span-1">Fuel Usage by Car</div>
    <div class="col-span-2"><canvas id="chart"></canvas></div>
  </div>

  <div class="col-span-7 row-span-6 grid justify-items-center items-center bg-gray-100 rounded-lg shadow-sm p-4">
    Driving Rate
    <canvas id="canvas3"></canvas>
  </div>
  <div class="col-span-5 row-span-6 grid justify-items-center items-center bg-gray-100 rounded-lg shadow-sm p-4">
    Fuel Usage per Month
    <canvas id="canvas4"></canvas>
  </div>
</div>

<script type="text/javascript">
  const autodoColor = "#45c9a7";
  console.log(Chart.defaults.scales);
  let canvas1 = document.getElementById("chart").getContext("2d");

  let chart1 = new Chart(canvas1, {
    type: "doughnut",
    data: {
      labels: [
        'Red',
        'Blue',
        'Yellow'
      ],
      datasets: [{
        label: 'My First Dataset',
        data: [300, 50, 100],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
      }]
    },
  });

  let fuelEfficiency = document.getElementById("fuelEfficiency").getContext('2d');

  // Create a linear gradient
  var gradient = fuelEfficiency.createLinearGradient(0, 0, 0, 400);
  gradient.addColorStop(0, autodoColor);
  gradient.addColorStop(1, 'rgba(255, 255, 255, 0.1)');

  let fuelEfficiencyChart = new Chart(fuelEfficiency, {
    type: "line",
    data: {
      labels: ["Jan", "Feb", "March", "April", "May", "June", "July"],
      datasets: [{
        label: 'My First Dataset',
        data: [65, 59, 80, 81, 56, 55, 40],
        backgroundColor: gradient,
        fill: true,
        pointBackgroundColor: autodoColor,
        pointBorderWidth: 0,
        pointRadius: 5,
        borderColor: autodoColor,
        tension: 0.1
      }]
    },
    options: {
      scales: {
        x: {
          grid: {
            display: false,
          },
          title: {
            display: true,
            text: "Time",
          }
        },
        y: {
          grid: {
            display: false,
          },
          title: {
            display: true,
            text: "Efficiency (MPG)",
          }
        }
      },
      plugins: {
        legend: false
      }
    }
  });

  console.log(fuelEfficiencyChart.options.scales.x);

  let canvas3 = document.getElementById("canvas3").getContext("2d");

  let chart3 = new Chart(canvas3, {
    type: "line",
    data: {
      labels: ["Jan", "Feb", "March", "April", "May", "June", "July"],
      datasets: [{
        label: 'My First Dataset',
        data: [65, 59, 80, 81, 56, 55, 40],
        backgroundColor: gradient,
        fill: true,
        pointBackgroundColor: autodoColor,
        pointBorderWidth: 0,
        pointRadius: 5,
        borderColor: autodoColor,
        tension: 0.1
      }]
    },
    options: {
      scales: {
        x: {
          grid: {
            display: false,
          },
          title: {
            display: true,
            text: "Time",
          }
        },
        y: {
          grid: {
            display: false,
          },
          title: {
            display: true,
            text: "Efficiency (MPG)",
          }
        }
      },
      plugins: {
        legend: false
      }
    }
  });

  let canvas4 = document.getElementById("canvas4").getContext("2d");

  var myChart = new Chart(canvas4, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: "here",
          }
        }
      }
    }
  });


</script>

<script>
  // $(document).ready(function () {
  //   axios.get("/shop/chart/filter-options/").then(function (response) { // Load all the options
  //     response.options.forEach(option => {
  //       $("#year").append(new Option(option, option));
  //     });
  //     // Load data for the first option
  //     loadAllCharts($("#year").children().first().val());
  //   }).catch(function () {
  //     console.log("Failed to fetch chart filter options!")
  //   });
  // });

  // $("#filterForm").on("submit", (event) => {
  //   event.preventDefault();

  //   const year = $("#year").val();
  //   loadAllCharts(year)
  // });

  // function loadChart(chart, endpoint) {
  //   $.ajax({
  //     url: endpoint,
  //     type: "GET",
  //     dataType: "json",
  //     success: (jsonResponse) => {
  //       // Extract data from the response
  //       const title = jsonResponse.title;
  //       const labels = jsonResponse.data.labels;
  //       const datasets = jsonResponse.data.datasets;

  //       // Reset the current chart
  //       chart.data.datasets = [];
  //       chart.data.labels = [];

  //       // Load new data into the chart
  //       chart.options.title.text = title;
  //       chart.options.title.display = true;
  //       chart.data.labels = labels;
  //       datasets.forEach(dataset => {
  //         chart.data.datasets.push(dataset);
  //       });
  //       chart.update();
  //     },
  //     error: () => console.log("Failed to fetch chart data from " + endpoint + "!")
  //   });
  // }

  // function loadAllCharts(year) {
  //   loadChart(salesChart, `/shop/chart/sales/${year}/`);
  //   loadChart(spendPerCustomerChart, `/shop/chart/spend-per-customer/${year}/`);
  //   loadChart(paymentSuccessChart, `/shop/chart/payment-success/${year}/`);
  //   loadChart(paymentMethodChart, `/shop/chart/payment-method/${year}/`);
  // }
</script>

{% endblock %}
