{% extends "base_generic.html" %}

{% block title %}
Stats - {{ block.super }}
{% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
  integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
  crossorigin="anonymous"></script>

<div class="container p-4 w-full mx-auto md:grid grid-cols-12 grid-rows-12 gap-4">
  <div class="col-span-6 row-span-6 grid justify-items-center items-center bg-gray-100 rounded-lg shadow-sm p-4">
    Fuel Efficiency
    <canvas id="fuelEfficiency"></canvas>
  </div>
  <div class="col-span-3 row-span-2 grid justify-items-center items-center bg-gray-100 rounded-lg shadow-sm p-4">
    <div>
      Total ToDos Completed:
      <span id="completedTodos" class="font-bold text-autodo text-3xl pl-2">0</span>
    </div>
  </div>
  <div class="col-span-3 row-span-2 grid justify-items-center items-center bg-gray-100 rounded-lg shadow-sm p-4">
    <div>
      Total Refuelings Logged: <span id="refuelingsLogged" class="font-bold text-autodo text-3xl pl-2">0</span>
    </div>
  </div>
  <div
    class="col-span-6 row-span-4 grid grid-cols-3 justify-items-center items-center bg-gray-100 rounded-lg shadow-sm p-4">
    <div class="col-span-1">Fuel Usage by Car (gal)</div>
    <div class="col-span-2"><canvas id="fuelUsageByCar"></canvas></div>
  </div>

  <div class="col-span-7 row-span-6 grid justify-items-center items-center bg-gray-100 rounded-lg shadow-sm p-4">
    Driving Rate
    <canvas id="drivingRate"></canvas>
  </div>
  <div class="col-span-5 row-span-6 grid justify-items-center items-center bg-gray-100 rounded-lg shadow-sm p-4">
    Fuel Usage per Month
    <canvas id="fuelUsageByMonth"></canvas>
  </div>
</div>

<script type="text/javascript">
  const autodoColor = "#45c9a7";
  let fuelUsageByCar = document.getElementById("fuelUsageByCar").getContext("2d");

  let fuelUsageByCarChart = new Chart(fuelUsageByCar, {
    type: "doughnut",
    data: {
      labels: [],
      datasets: [{
        data: [],
        backgroundColor: [],
        hoverOffset: 4
      }]
    },
  });

  let fuelEfficiency = document.getElementById("fuelEfficiency").getContext('2d');

  // Create a linear gradient
  var gradient = fuelEfficiency.createLinearGradient(0, 0, 0, 400);
  gradient.addColorStop(0, autodoColor);
  gradient.addColorStop(1, 'rgba(255, 255, 255, 0.1)');

  let fuelEfficiencyChart = new Chart(fuelEfficiency, {
    type: "line",
    data: {
      datasets: [{
        data: [],
        backgroundColor: gradient,
        fill: true,
        pointBackgroundColor: autodoColor,
        pointBorderWidth: 0,
        pointRadius: 5,
        borderColor: autodoColor,
        tension: 0.3
      }]
    },
    options: {
      scales: {
        x: {
          grid: {
            display: false,
          },
          title: {
            display: true,
            text: "Time",
          }
        },
        y: {
          grid: {
            display: false,
          },
          title: {
            display: true,
            text: "Efficiency (MPG)",
          }
        }
      },
      plugins: {
        legend: false
      }
    }
  });

  let drivingRate = document.getElementById("drivingRate").getContext("2d");

  let drivingRateChart = new Chart(drivingRate, {
    type: "line",
    data: {
      labels: [],
      datasets: [{
        data: [],
        backgroundColor: gradient,
        fill: true,
        pointBackgroundColor: autodoColor,
        pointBorderWidth: 0,
        pointRadius: 5,
        borderColor: autodoColor,
        tension: 0.1
      }]
    },
    options: {
      scales: {
        x: {
          grid: {
            display: false,
          },
          title: {
            display: true,
            text: "Time",
          }
        },
        y: {
          grid: {
            display: false,
          },
          title: {
            display: true,
            text: "Miles per Day",
          }
        }
      },
      plugins: {
        legend: false
      }
    }
  });

  let fuelUsageByMonth = document.getElementById("fuelUsageByMonth").getContext("2d");

  var fuelUsageByMonthChart = new Chart(fuelUsageByMonth, {
    type: 'bar',
    data: {
      datasets: []
    },
    options: {
      scales: {
        x: {
          stacked: true,
          title: {
            display: true,
            text: "Month"
          }
        },
        y: {
          beginAtZero: true,
          stacked: true,
          title: {
            display: true,
            text: "Fuel Usage (gal)",
          }
        }
      }
    }
  });

  $(document).ready(function () {
    loadAllCharts();
  });

  function loadChart(chart, endpoint) {
    // TODO: refactor
    $.ajax({
      url: endpoint,
      type: "GET",
      dataType: "json",
      success: (jsonResponse) => {
        backgroundColor = [];
        labels = [];
        data = [];
        console.log(jsonResponse);
        for (var car in jsonResponse) {
          if (endpoint === "/stats/fuelEfficiency" || endpoint === "/stats/drivingRate") {
            // Only supporting one car currently
            if (jsonResponse[car].length < 2) {
              continue;
            }
            if (endpoint === "/stats/drivingRate") {
              console.log(car);
            }
            carData = [];
            jsonResponse[car].forEach(point => {
              carData.push({ x: point.time, y: point.raw });
            });
            data.push(carData);
          } else if (endpoint === "/stats/fuelUsageByCar") {
            labels.push(jsonResponse[car].name);
            data.push(jsonResponse[car].amount);
            backgroundColor.push(jsonResponse[car].color);
          } else if (endpoint === "/stats/fuelUsageByMonth") {
            labels.push(jsonResponse[car].name);
            backgroundColor.push(jsonResponse[car].color);
            carData = [];
            jsonResponse[car].amounts.forEach(point => {
              carData.push({ x: point.date, y: point.amount });
            });
            data.push(carData);
          }
        }
        if (endpoint === "/stats/fuelUsageByCar") {
          chart.data.labels = labels;
          chart.data.datasets[0].backgroundColor = backgroundColor;
          chart.data.datasets[0].data = data;
        } else if (endpoint === "/stats/fuelUsageByMonth") {
          chart.datasets = [];
          for (var idx in data) {
            chart.data.datasets.push({
              data: data[idx],
              label: labels[idx],
              backgroundColor: backgroundColor[idx],
            });
          }
        } else {
          chart.datasets = [];
          for (var idx in data) {
            chart.data.datasets.push({
              data: data[idx],
              backgroundColor: gradient,
              fill: true,
              pointBackgroundColor: idx == 0 ? autodoColor : "red",
              pointBorderWidth: 0,
              pointRadius: 5,
              borderColor: autodoColor,
              tension: 0.1
            });
          }
        }

        chart.update();
      },
      error: () => console.log("Failed to fetch chart data from " + endpoint + "!")
    });
  }

  function loadAllCharts() {
    loadChart(fuelEfficiencyChart, "/stats/fuelEfficiency");
    loadChart(fuelUsageByCarChart, "/stats/fuelUsageByCar");
    loadChart(drivingRateChart, "/stats/drivingRate");
    loadChart(fuelUsageByMonthChart, "/stats/fuelUsageByMonth");
    $.ajax({
      url: "/stats/completedTodos",
      type: "GET",
      dataType: "json",
      success: jsonResponse => {
        $("#completedTodos").text(jsonResponse.count);
      },
      error: () => console.log("Failed to fetch chart data from completedTodos!")
    });
    $.ajax({
      url: "/stats/refuelingsLogged",
      type: "GET",
      dataType: "json",
      success: jsonResponse => {
        $("#refuelingsLogged").text(jsonResponse.count);
      },
      error: () => console.log("Failed to fetch chart data from refuelingsLogged!")
    });
  }
</script>

{% endblock %}
