{% extends "base_generic.html" %} {% block content %}
<style>
  /* complicated mess used to center label in its equal sized padding */
  .radio-toolbar label {
    width: 100%;
    height: 0;
    line-height: 0;
    padding-left: 25%;
    padding-right: 50%;
    padding-top: 50%;
    padding-bottom: 50%;
    box-sizing: border-box;
  }

  .radio-toolbar input[type="radio"]:checked+label {
    background-color: rgb(37, 99, 235);
    color: #fff;
  }
</style>
<div class="container max-w-full mx-auto p-4 md:p-8 md:max-w-xl">
  {% if forms %}
  <div class="text-2xl">Edit: <b>{{ todo.name }}</b></div>
  {% else %}
  <div class="text-2xl">Create a Todo</div>
  {% endif %}

  <form action="" method="post">
    {% csrf_token %}

    {% for form in forms %}
    {% for field in form %}
    <div class="flex content-start">
      <div class="flex w-8/12 space-x-2">
        {{ field }}
      </div>
      <label class="m-4 text-sm text-gray-700 w-4/12" for="{{ field.auto_id }}">
        {{ field.label }}{% if field.field.required %}*{% endif %}
      </label>
      <br>
    </div>
    {% endfor %}
    {% endfor %}

    <!-- Used by the Create view -->
    {% for field in form %}
    {% if field.html_name == "repeat_num" %}
    <div class="flex flex-row justify-start align-center">
      <label class="block my-auto text-sm text-gray-700 mr-2" for="{{ field.auto_id }}">
        Repeat every:
      </label>
      <div class="mx-2 w-3/12">
        {{ field }}
      </div>
      {% elif field.html_name == "repeat_choice" %}
      <!-- Leave the div tag open here assuming that these two fields are in order-->
      <div class="mx-2 w-3/12">
        {{ field }}
      </div>
    </div>
    {% else %}
    <div class="flex content-start">
      <div class="flex w-9/12 space-x-2">
        {{ field }}
      </div>
      <label class="m-4 text-sm text-gray-700 w-3/12" for="{{ field.auto_id }}">
        {{ field.label }}{% if field.field.required %}*{% endif %}
      </label>
      <br>
    </div>
    {% endif %}
    {% endfor %}

    <button type="submit" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 my-2 rounded shadow-md">
      {% if forms %}Edit{% else %}Create{% endif %}
    </button>
  </form>
</div>
<script>
  var dueMileage = document.getElementById("id_dueMileage");
  var car = document.getElementById("id_car");
  car.addEventListener('change', function (event) {
    var carstr = '{{ cars }}'.replaceAll('&quot;', '\"');
    var cardata = JSON.parse(carstr);
    var snapstr = '{{ snaps }}'.replaceAll('&quot;', '\"');
    var snapdata = JSON.parse(snapstr);
    for (var c in cardata) {
      if (parseInt(cardata[c].pk) === parseInt(car.value)) {
        var mileage = 0;
        for (var s in snapdata) {
          if (parseInt(snapdata[s].fields.car) === parseInt(car.value) && snapdata[s].fields.mileage > mileage) {
            mileage = snapdata[s].fields.mileage;
          }
        }
        dueMileage.value = mileage;
      }
    }
  }, false);
</script>
{% endblock %}
