{% extends "base_generic.html" %}

{% block content %}

<div class="container p-8 mx-auto max-w-lg">
  <div class="text-2xl">Deleting Account</div>
  <div class="my-2 text-lg">Are you sure you want to delete your account?</div>

  <div class="my-4 text-lg text-red-500 font-bold">This action is not reversible.</div>

  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes, delete."
      class="bg-red-600 hover:bg-red-400 text-white font-bold py-2 px-4 my-2 rounded shadow-md">
  </form>
</div>

{% endblock %}
