{% load static %}
<link href="{% static 'site.css' %}" rel="stylesheet">

{% block content %}

<h1>{{ car.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'cars/rename' car.id %}" method="post">
{% csrf_token %}
<input type="text" name="name" id="name">
<label>Name</label><br>
<!-- <input type="submit" value="Edit"> -->
<button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded shadow-md">Edit</button>
</form>

<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
  <div class="flex-shrink-0">
    <img class="h-12 w-12" src="/img/logo.svg" alt="ChitChat Logo">
  </div>
  <div>
    <div class="text-xl font-medium text-black">ChitChat</div>
    <p class="text-gray-500">You have a new message!</p>
  </div>
</div>

{% endblock %}
