.product-features {
  background-color: $productFeatureColor;
  margin: 3.5rem auto;
  text-align: center;
  h2 {
    font-size: 1.25em;
  }
  p {
    font-size: 1.25rem;
  }
}

.core-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    line-height: 1.2;
  }
}

.feature-1 {
  display: grid;
  max-width: $maxContainerWidth;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;
  align-items: center;
  justify-items: center;
  width: 90%;
}

.description-1 {
  grid-row: 1/3;
  grid-column: 5/9;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
}

.iphonePreview {
  grid-row: 1/3;
  grid-column: 1/4;
  background-image: url('../assets/black.png');
  background-repeat: no-repeat;
  background-size: 370px auto;
  display: flex;
  width: 370px;
  background-position: center 0;
  justify-content: center;
  padding-bottom: 25px;

  svg {
    position: absolute;
  }
}

.iphoneScreen {
  background-image: url('../assets/homescreen_ios_hires.jpg');
  background-repeat: no-repeat;
  margin: 0px;
  margin-top: 18px;
  width: 322px;
  height: 700px;
  background-size: 322px 700px;
  -webkit-clip-path: url(#screenMask);
  clip-path: url(#screenMask);
}

@media only screen and (max-width: 992px) {
  .description-1 {
    grid-row: 2/3;
    grid-column: 1/9;
  }

  .iphonePreview {
    grid-row: 1/2;
    grid-column: span 8;
    width: 260px;
    background-size: 260px auto;
  }

  .iphoneScreen {
    width: 226px;
    height: 489px;
    background-size: 226px 489px;
  }
}
