.social-proof {
  background-color: $socialProofBackgroundColor;
}

.social-proof-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2em;
  div {
    width: 4rem;
    height: 3rem;
    margin: 0.3em 1.5em;
  }
}

.facebook {
  background: url('../assets/social-proof/facebook.png') no-repeat center;
  background-size:  100% 75%;
}

.google {
  background: url('../assets/social-proof/google.png') no-repeat center;
  background-size:  100% 75%;
}

.uber {
  background: url('../assets/social-proof/uber.png') no-repeat center;
  background-size:  100% 75%;
}

.apple {
  background: url('../assets/social-proof/airbnb.png') no-repeat center;
  background-size: 100% 75%;
}

.twitter {
  background: url('../assets/social-proof/twitter.png') no-repeat center;
  background-size:  100% 75%;
}
